<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.com.roxoft.dao.ITariffDao">

	<select id="getAll" resultType="Tariff">
		SELECT * FROM tariffs
	</select>

	<delete id="delete">
		DELETE FROM tariffs
		WHERE id= #{id}
	</delete>

	<insert id="insert">
		INSERT IGNORE INTO tariffs (description) 
		VALUES (#{description})
	</insert>

	<select id="getTariffById" parameterType="int" resultType="Tariff">
		SELECT description FROM	tariffs
		WHERE id = #{id}
	</select>

	<update id="update">
		UPDATE tariffs 
		SET description = '1111$ tariff'
		WHERE id = #{id}
	</update>

</mapper>